{{ $services := slice
    (dict "text" "Unsealed/Sealing" "link" "/services/concrete-washing-sealing" "image" "images/services/concrete-wash.jpg" "description" "The durable and flexible coating extends the lifespan of your pavement while providing a beautiful deep black finish, enhancing your property's curb appeal. Plus, our sealcoating helps snow melt faster, making winter maintenance easier.")
    (dict "text" "Unsealed/Sealing" "link" "/services/asphalt-repair-sealing" "image" "images/services/asphalt-repair.jpg" "description" "The durable and flexible coating extends the lifespan of your pavement while providing a beautiful deep black finish, enhancing your property's curb appeal. Plus, our sealcoating helps snow melt faster, making winter maintenance easier.")
    (dict "text" "Unsealed/Sealing" "link" "/services/interlock-install-restoration" "image" "images/services/interlock.jpg" "description" "The durable and flexible coating extends the lifespan of your pavement while providing a beautiful deep black finish, enhancing your property's curb appeal. Plus, our sealcoating helps snow melt faster, making winter maintenance easier.")
  }}
  
  <div class="w-full">
    {{ range $index, $service := $services }}
      {{ $isEven := eq (mod $index 2) 0 }}
      
      <div class="w-full h-[70dvh] relative mb-12">
        <div class="flex w-full h-full relative">
          {{ with resources.Get $service.image }}
            <img class="w-full h-full object-cover" src="{{ .RelPermalink }}" alt="{{ $service.text }}">
          {{ end }}
          
          <div class="absolute top-1/2 -translate-y-1/2 
                     {{ if $isEven }}left-[5%]{{ else }}right-[5%]{{ end }} 
                     bg-gray-300/50 backdrop-blur-sm text-white px-8 py-8 w-[500px] min-h-80 rounded-lg shadow-lg border-2 border-solid border-white">
            <h3 class="text-3xl font-extrabold uppercase">{{ $service.text }}</h3>
            <p class="mt-4 text-lg text-white">
                {{ $service.description }}
            </p>
            <a href="{{ $service.link }}" class="mt-6 inline-block bg-[#177FDE] text-white font-medium py-2 px-4 rounded transition">PLAY VIDEO</a>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
 