<div class="w-full flex flex-col justify-center items-center py-4">
    <h2 class="text-4xl font-extralight text-center text-black uppercase tracking-wider mb-8">free estimate how it works</h2>
    <div class="flex w-full md:w-[70vw] justify-between items-center p-4">
        <div class="flex flex-col justify-center items-center">
            {{ partial "icons/chat.html" . }}
            <p class="uppercase mt-4 tracking-normal text-[#757575] font-bold md:text-xl text-center">contact us</p>
        </div>
        <div class="flex flex-col justify-center items-center">
            {{ partial "icons/car.html" . }}
            <p class="uppercase mt-4 tracking-normal text-[#757575] font-bold md:text-xl text-center">we'll stop by</p>
        </div>
        <div class="flex flex-col justify-center items-center">
            {{ partial "icons/email2.html" . }}
            <p class="uppercase mt-4 tracking-normal text-[#757575] font-bold md:text-xl text-center">email follow-up</p>
        </div>
        <div class="flex flex-col justify-center items-center">
            {{ partial "icons/greet.html" . }}
            <p class="uppercase mt-4 tracking-normal text-[#757575] font-bold md:text-xl text-center">guaranteed results</p>
        </div>
    </div>
  {{ partial "buttons/freeEstimate.html" (dict "context" . "IsBlue" false) }}
</div>

