
{{ $video := .Params.HeroVideo | default .Site.Params.HeroVideo }}
{{ $image := .Params.HeroImage | default .Site.Params.HeroImage }}
{{ $title := .Params.HeroTitle | default .Site.Params.HeroTitle }}
{{ $subtitle := .Params.HeroSubtitle | default .Site.Params.HeroSubtitle }}
{{ $paragraph := .Params.HeroParagraph | default .Site.Params.HeroParagraph }}
{{ $showVideo := .Params.ShowVideo | default .Site.Params.ShowVideo }}
{{ $heroOff := .Params.HeroOff | default false }}

{{ if not $heroOff }}
<header>
  <div class="w-full relative overflow-hidden">
    <div class="diagonal-right h-full w-[90%] md:w-[70%] h-full absolute top-0 left-0 z-10"></div>
    {{ if $showVideo }}
      <video class="min-h-full min-w-full object-cover" autoplay loop muted playsinline>
        {{ with resources.Get $video }}
          <source src="{{ .RelPermalink }}" type="video/mp4" />
        {{ end }}
      </video>
    {{ else if $image }}
      {{ with resources.Get $image }}
        <img class="w-full h-full object-cover" width="100%" height="100%" src="{{ .RelPermalink }}" alt="{{ $title }}"/>
      {{ end }}
    {{ end }}

    <!-- Overlay Text -->
    <div class="flex flex-col gap-8 absolute w-1/2 lg:w-1/3 top-[20dvh] left-10 lg:left-[127px] z-20 text-start">
      <h1 class="text-white font-thin text-4xl md:text-6xl font-bold">{{ $title }}</h1>
      {{ if $showVideo }}
        <p class="text-white text-6xl">{{ $subtitle }}</p>
      {{ end }}
      {{ if $subtitle }}
        <p class="text-white text-2xl font-extralight">{{ $paragraph }}</p>
      {{ end }}
      
      {{ partial "buttons/freeEstimate.html" ( dict "context" . "IsBlue" false ) }}
    <!-- Overlay Text End -->
  </div>
</header>
{{ else }}
<header class="mt-[10dvh]"></header>
{{ end }}
