<div class="flex flex-col w-full md:w-[80%] mx-auto h-64 items-center justify-center md:p-12 gap-4">
    <h2 class="text-4xl font-extralight  text-center text-center text-black justity-between uppercase tracking-wider">what we offer</h2>
    <div class="flex w-full h-96 overflow-auto md:overflow-visible">
        <ul class="flex justify-between md:items-center items-start w-full gap-4">
            <li class="flex items-center justify-center flex-col md:flex-row text-center gap-4">
                {{ partial "icons/check.html" . }}
                <p class="px-2 uppercase tracking-wider text-[#757575] font-extrabold text-xl">industrie knowledge <br />& experience</p>
            </li>
            <li class="flex items-center justify-center flex-col md:flex-row text-center gap-4">
                {{ partial "icons/check.html" . }}
                <p class="px-2 uppercase tracking-wider text-[#757575] font-bold text-xl">quality brands &  <br /> work</p>
            </li>
            <li class="flex items-center justify-center flex-col md:flex-row text-center gap-4">
                {{ partial "icons/check.html" . }}
                <p class="px-2 uppercase tracking-wider text-[#757575] font-bold text-xl">fully licensed &  <br />insured</p>
            </li>
            <li class="flex items-center justify-center flex-col md:flex-row text-center gap-4">
                {{ partial "icons/check.html" . }}
                <p class="px-2 uppercase tracking-wider text-[#757575] font-bold text-xl">100% service <br /> warranty</p>
            </li>
        </ul>
    </div>
</div>

